<span class="ion-load-a glyphicon-spin spinner" *ngIf="loading"></span>
<div>
  <nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav nav-pills mr-auto float-left">
        <li class="nav-item">
          <a routerLink="/welcome" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Product List</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products', 0, 'edit']" routerLinkActive="active" class="nav-link">Add Product</a>
        </li>
      </ul>
      <ul class="nav nav-fill justify-content-end">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link">Welcome {{ authService.currentUser.userName }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Show Messages</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/login']" class="nav-link">Log In</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
