<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <img src="/assets/images/logo.jpg"
           class="img-fluid mx-auto"
           style="max-height:300px;padding-bottom:50px"/>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Developed by:</p>
        <p class="h3 text-center">Deborah Kurata</p>
        <p class="text-center">@deborahkurata</p>
        <p class="text-center">
          <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
        </p></div>
    </div>
  </div>
</div>
